appdirs==1.4.3
argon2-cffi==20.1.0
asgiref==3.2.7
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.2.0
certifi==2020.4.5.1
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.5
django-allauth==0.41.0
django-crispy-forms==1.9.0
django-heroku==0.3.1
django-import-export==2.0.2
django-progressive-web-app==0.1.1
django-pwa==1.0.10
django-storages==1.9.1
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
geographiclib==1.50
geopy==1.21.0
gunicorn==20.0.4
idna==2.9
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.8
jupyterlab-pygments==0.1.1
jupyterlab-server==1.2.0
MarkupPy==1.14
MarkupSafe==1.1.1
mistune==0.8.4
mysql-connector-python==8.0.22
nbclient==0.5.0
nbconvert==6.0.2
nbformat==5.0.7
nest-asyncio==1.4.0
newsapi-python==0.2.6
notebook==6.1.4
numpy==1.19.2
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.3
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
Pillow-PIL==0.1.dev0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
psycopg2==2.8.5
pycparser==2.20
Pygments==2.7.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.23.0
requests-oauthlib==1.3.0
scipy==1.5.2
Send2Trash==1.5.0
six==1.14.0
sqlparse==0.3.1
tablib==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==5.0.4
urllib3==1.25.8
virtualenv==20.0.18
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.1.0
xlrd==1.2.0
xlwt==1.3.0
